div {
    display: block;

    img {
        float: left;
        margin-right: 20px;
    }

    .underconstruction-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}