<ng-container>
    <div class="about">
        <p><img src="/assets/about-me-pic.png" alt="Angelo Barot" width="180px" /></p>
        <p class="medium">Hey! 👋</p>
        <p class="medium">My name is Angelo Barot, welcome and hopefully you can learn a little bit about me.</p>
        <p class="medium">This is where I will post my random thoughts, interests, and discoveries.</p>
        <div class="underconstruction-container">
            <img class="underconstruction" src="/assets/under-construction.png" alt="Under Construction" width="400" />
        </div>
    </div>
</ng-container>