<ng-container>
    <div class="navigation-bar">
        <div class="border"></div>
        <nav>
            <a class="button" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page" [routerLinkActiveOptions]="{exact: true}">Home</a>
            <a class="button" routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About</a>
            <a class="button" routerLink="/career" routerLinkActive="active" ariaCurrentWhenActive="page">Career</a>
        </nav>
        <div class="border"></div>
    </div>
</ng-container>