.navigation-bar {
    width: 100%;

    .border {
        height: 4px;
        width: 100%;
        background-color: #F5F6FA;
    }

    nav {
        margin-left: 30px;
        margin-right: 30px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        a {
            text-decoration: none;
        }

        a.button {
                font-size: 20px;
                padding: 10px 25px 10px 25px;
                font-weight: bold;
                color: #F5F6FA;
                border: 0px;
                background-color: transparent;

                &:hover {
                    background-color: #F5F6FA;
                    color: #353B48;
                    cursor: pointer;
                }
        }

        a.active {
                font-size: 20px;
                padding: 10px 25px 10px 25px;
                font-weight: bold;
                color: #353B48;
                border: 0px;
                background-color: #F5F6FA;

                &:hover {
                    background-color: #F5F6FA;
                    color: #353B48;
                    cursor: pointer;
                }
            }
    }
}