.content {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.content .logo {
  height: 259px;
  width: 298px;
}

.content h1 {
  font-size: 96px;
  font-weight: normal;
  margin: 0;
}

.content .underconstruction p {
  font-size: 36px;
  font-weight: normal;
  margin: 0;
}