/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url("https://fonts.googleapis.com/css?family=Montserrat");

:root {
	--text: #F5F6FA;
	--montserrat: 'Montserrat';
    --content-margin: 1.5rem auto;
}

body {
	line-height: 1.5;
    background-color: #353B48;
    font-family: 'Montserrat';
	color: var(--text);
	font-size: 1.35rem;
}

a {
	color: var(--text);
}

p {
	margin: var(--content-margin);
	color: var(--text);
}

p.medium {
	font-size: 1.35rem;
}

.page-title {
	margin-top: 1.5rem;
}

.page-title, h1, h2, h3 {
	line-height: 1.2;
	margin: 0;
}

h1 {
	font-size: 3rem;
	color: var(--text);
	font-weight: 900;
}